* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.navbar-nav {
  align-items: center;

}
.nav-link {
  font-size: small;
  font-weight: 600;
  color: white;
  padding: 14px 8px 2px 8px;
  background-color: #051a59;
  
  
}
.nav-link img {
  height: 20px;
}
.navbar {
  background-color: #051a59;
}

.navbar-brand img {
  height: 35px;
  padding-left: 50px;
}
.logoFlotanteWapp {
  position: fixed;
  bottom: 25px;
  right:25px ;
  height: 50px;
  width: 50px;
  z-index: 9;
}
.logoFlotanteWapp:hover{
  opacity: 0.9;
  transition: 0.5s;
  transform: scale(1.2);
}

header {
  width: 100%;
  background-color: #080438;
}
.principal {
 height: 700px;
  width: 100%;
  position: relative;
  overflow:hidden;

}
.principal h2 {
  display: flex;
  flex-direction: column;
  
  color: white;

  font-size: 2.5rem;
  font-weight: 200;
 padding: 20px;
}



.principal h2 .sub-title {
  color: #2f9ae1;
  font-weight: 600;
}
.principal h2 .text {
  font-size: small;
  padding-right: 60px;
 
}
.principal img {
  height: 300px;
  position: absolute;
  right: -100px;
  top: 150px;

}
@media only screen and (min-width: 769px) {

    .principal h2 {
      min-width: 400px;
      width: 50%;
      position: absolute;
  left: 100px;
  top: 180px;
  padding: 0;
    }
    .principal h2 .text {
      min-width: 300px;
      width: 50%;
      padding: 0;
    }
    .principal img {
      height: 700px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  

.principal a {
  text-decoration: none;
  font-size: small;
  margin: 4px;
}

.trama {

  position: absolute;
  top: 520px;
  opacity: 0.1;
  width: 100%;
  height: 180px;
  z-index: 1;
  object-fit: cover;
}
.trama1 {
  object-fit: cover;
  position: absolute;
  top: 520px;
  opacity: 0.9;
  width: 100%;
  height: 180px;
  z-index: 1;
}

.counter {
  background-color: #080438;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  flex-wrap: wrap;
  
}
.counter .flex-row {   
  min-width: 150px;
  flex-wrap: nowrap;
  
}
.counter div b {
  color: white;
  font-size: 2.7rem;
  text-align: center;
  
}

.counter div span {
  color: #93cc04;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  
}
.counter div .mas{
  color: white;
  font-weight: 100;
  font-size: 2.7rem;
  text-align: center;
 
}

.personal {
  background-image: url(/alun/images/Fotos/pasto.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
  padding: 190px 80px;
  z-index: 7;
}

.personal .line {
  background-color: white;
  height: 3.5px;
  width: 320px;
  margin-bottom: 8px;
}
.personal span {
  display: block;
  width: 550px;
  color: white;
  margin-top: 15px;
  font-size: larger;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 470px;
  padding: 100px 5px;
  width: 100%;
  background: url(/alun/images/tramaFondoAzul.png);
  background-color: #080438;
  background-size: 70%;
  z-index: 2;
}
.cards .card1{
  width: 20rem;
  height: 30.37rem;
  position: relative;
  margin: 5px;
}



.fondo {
  width: 100%;
  position: absolute;
  top: 0;
  height: auto;
}

.capa {
  width: 100%;
  z-index: 2;
  position: absolute;
}


.faja {
  width: 100%;
  height: 15px;
  position: absolute;
  top: 0;
  z-index: 2;
}

.esquina {
  width: 35%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.logo {
  width: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  margin: 14px;
}

.areaCard {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin: 14px;
  padding: 20px;
}
.areaCard h3 {
  color: white;
  font-size: large;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.clients {
  text-align: center;
  height: 570px;
  padding: 250px 5px 0px 5px;
  width: 100%;
  background: url(/alun/alun/images/tramaFonoGris.png);
  background-color: #b1b1b1;
  background-size: 70%;
  color: #080438;
  z-index: 2;
}
.carousel-inner {
  margin: auto;
  margin-top: 65px;
  width: 75%;
}
.logosFirmas {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: space-between;
}
.logosFirmas img {
  width: 80px;
  margin: auto;
}

.limpiezaAltura {
  height: 400px;
  width: 100%;
  background-image: url(/alunimages/Fotos/vidriosAltura.jpg);
  background-position: 0% 60%;
  background-size: cover;
  background-repeat: no-repeat;
}

.sobreNosotros {
  width: 100%;
}
.sup {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.sup .fondo {
  width: 100%;
  height: 400px;
  object-fit: cover;

}
.sup h2 {
  color: white; 
 position: absolute;
 z-index: 2;
}

.sup .oscuro{
  color: #080438;
}

.sobreNosotros .inf {
  background: rgb(2, 80, 181);
  background: linear-gradient(
    308deg,
    rgba(2, 80, 181, 1) 66%,
    rgba(47, 154, 225, 1) 96%
  );
}
.sobreNosotros .inf .textNos {
  color: white;
  text-align: center;
  width: 60%;
  margin: 0 auto;

  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}
.sobreNosotros .inf .textNos b {
  color: #080438;
  font-size: large;
}

.sobreNosotros .inf .textNos .space {
  background-color: white;
  height: 2px;
  width: 30%;
  margin: 25px auto;
}
.sobreNosotros .inf .textNos span {
  margin: 7px;
}

.misionVision {
  width: 100%;

  height: 500px;
  text-align: left;
  position: relative;
  background-color: #080438;
}


.misionVision .separador {
  height: 3px;
  width: 50px;
  background-color: #080438;
  margin-bottom: 6px;
}
.misionVision .contenedor {
  width: 100%;

  display: flex;
  justify-content: center;
  text-align: center;
}

.misionVision .left {
  width: 50%;
  height: 500px;
  color: #080438;
  z-index: 2;
  text-align: left;
  font-size: x-small;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}
.misionVision .left .fondo {
  height: 500px;
  width: 1000px;
  position: absolute;
  right: 0;
  z-index: 0;
  }

.misionVision .left .mision {
  width: 40%;
  z-index: 1;
}
.misionVision .left h3 {
  font-weight: 700;
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0%;
}
.misionVision .left .mision span {
  margin-bottom: 20px;
}
.misionVision .right {
  width: 50%;
  color: white;
  z-index: 0;
  position: relative;
  left: 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.misionVision .right .info {
  display: flex;
  flex-direction: row;
  font-size: x-small;
  font-weight: 100;
  text-align: left;
  width: 70%;
  min-width: 350px;
  margin: 20px;
}
.misionVision .right .info h3 {
  font-size: large;
  font-weight: 100;
}

.misionVision .left .logo {
  height: 70px;
  width: auto;
  margin: 0 50px;
}
.misionVision .left .img1{
  position:absolute;
  right:-43px;
  top: 24%;
}
.misionVision .left .img2{
  position:absolute;
  right:0;
  top: 44%;
}
.misionVision .left .img3{
  position:absolute;
  right:50px;
  top: 64%;
}

.misionVision .right .caract1 {
  position:absolute  ;
  left:20px;
  top: 20%;
}
.misionVision .right .caract2 {
  position: absolute;
  left: -20px;
  top: 40%;
}
.misionVision .right .caract3 {
  position: absolute;
  left: -60px;
  top: 60%;
}


.clean img{
  width: 100%;
  height: 300px;
position: relative;
object-fit: cover;
}

.alcance {
  width: 100%;
  height: 600px;
  background-color: #080438;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.alcance .textAlcance{
  width: auto;
}
.alcance .textAlcance .encabezado {
  width: 50%;
  color: white;
  margin: 100px auto;
  font-size: small;
  display: flex;
  flex-direction: column;
  
}

.alcance .textAlcance .hola{
  width: 100px;
  height: 2px;
  background-color: #2f9ae1;
  z-index: 9;
  margin-bottom: 15px;
}

.alcance .logosAlcance {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
.alcance .logosAlcance div {
  display: flex;
  flex-direction: column;
  width: 50px;
}

.alcance .logosAlcance img {
  width: 45px;
}
.alcance .logosAlcance span {
  font-size: xx-small;
  color: white;
  margin-top: 7px;
}
.alcance .logosAlcance .line{
  margin-top: 6px;
  height: 2px;
  width: 50px;
}
.alcance .alcanceMap {
  width: 600px;
  min-width: 600px;
  height: auto;
 position: relative;
  transition: transform 0.4s ease;
right: 30px;
}
.alcance .alcanceMap .map img {
  width: 200px;
  position: absolute;
  left: 280px;
  top: 100px;
}
.alcance .alcanceMap .pampa img {
  width: 50px;
  position: absolute;
  left: 313px;
  top: 270px;
  opacity: 0;
}
.alcance .alcanceMap .pampa span {
  position: absolute;
  left: 200px;
  top: 278px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
}
.alcance .alcanceMap .pampa .enlace {
  height: 2px;
  width: 140px;
  position: absolute;
  left: 200px;
  top: 295px;
  text-transform: uppercase;
  background-color: white;
}


.alcance .alcanceMap .rio img {
  height: 54px;
  position: absolute;
  left: 286px;
  top: 307px;
  opacity: 0;
}
.alcance .alcanceMap .rio span {
  position: absolute;
  left: 420px;
  top: 336px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  width: 200px;
}
.alcance .alcanceMap .rio .enlace {
  height: 2px;
  width: 152px;
  position: absolute;
  left: 320px;
  top: 355px;
  text-transform: uppercase;
  background-color: white;
}
.alcance .alcanceMap .juan img {
  height: 50px;
  position: absolute;
  left: 289px;
  top: 194px;
  opacity: 0;
}
.alcance .alcanceMap .juan span {
  position: absolute;
  left: 200px;
  top: 200px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
}
.alcance .alcanceMap .juan .enlace {
  height: 2px;
  width: 108px;
  position: absolute;
  left: 200px;
  top: 216px;
  text-transform: uppercase;
  background-color: white;
}
.alcance .alcanceMap .luis img {
  height: 52px;
  position: absolute;
  left: 323px;
  top: 230px;
  opacity: 0;
}
.alcance .alcanceMap .luis span {
  position: absolute;
  left: 450px;
  top: 240px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  width: 200px;
}
.alcance .alcanceMap .luis .enlace {
  height: 2px;
  width: 148px;
  position: absolute;
  left: 345px;
  top: 258px;
  text-transform: uppercase;
  background-color: white;
}
.alcance .alcanceMap .menza img {
  height: 57px;
  position: absolute;
  left: 297px;
  top: 240px;
  opacity: 0;
}
.alcance .alcanceMap .menza span {
  position: absolute;
  left: 200px;
  top: 247px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
}
.alcance .alcanceMap .menza .enlace {
  height: 2px;
  width: 115px;
  position: absolute;
  left: 200px;
  top: 262px;
  text-transform: uppercase;
  background-color: white;
}
.alcance .alcanceMap .bsas img {
  height: 93px;
  position: absolute;
  left: 362px;
  top: 252px;
  opacity: 0;
}
.alcance .alcanceMap .bsas span {
  position: absolute;
  left: 470px;
  top: 285px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  width: 200px;
}
.alcance .alcanceMap .bsas .enlace {
  height: 2px;
  width: 142px;
  position: absolute;
  left: 395px;
  top: 301px;
  text-transform: uppercase;
  background-color: white;
}

.alcance .alcanceMap .luis img:hover,
.alcance .alcanceMap .juan img:hover,
.alcance .alcanceMap .rio img:hover,
.alcance .alcanceMap .menza img:hover,
.alcance .alcanceMap .bsas img:hover,
.alcance .alcanceMap .pampa img:hover {
  opacity: 0.6;
  transition: 0.5s;
  transform: scale(1.2);
}
.alcance .provincias {
  position: absolute;
  left: 0;
  top: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alcance .ciudades {
  position: absolute;
  left: 30px;
  top: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.alcance .provincias span {
  color: white;
  text-decoration: underline 2px #2f9ae1;
  text-underline-offset: 5px;
}
.alcance .ciudades span {
  color: white;
  text-decoration: underline 2px #93cc04;
  text-underline-offset: 5px;
}
.alcance .provincias h4 {
  color: #2f9ae1;
  font-size: 60px;
  margin: 10px;
  font-weight: 700;
}
.alcance .ciudades h4 {
  color: #93cc04;
  font-size: 60px;
  margin: 10px;
  font-weight: 700;
}
.servicios {
  background-color: #080438;
}
.servicios .info{
padding-top: 80px;
padding-bottom: 10px;
}
.servicios .info .imagenes {
  position: relative;
  width: 70%;
  height: 300px;
  margin: auto;
}
.carousel-inner {
  height: 300px;
  width: inherit;
  position: relative;
}

.servicios .info .imagenes #carouselExampleAutoplaying .carousel-item {
  height: 300px;
  width: 100%;
  position: absolute;
  left: 200px;
}
.servicios .info .imagenes .logoa img {
  position: absolute;
  bottom: 30px;
  left: 30px;
  height: 50px;
}

.servicios .info .imagenes .colorIzq img {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
}
.servicios .info .imagenes .colorDer img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 200px;
}

.servicios .info .imagenes .faja img {
  position: absolute;
  top: 0;
  left: 0;
  height: 11px;
  width: 100%;
}
.servicios .info .imagenes .area {
  position: absolute;
  top: 45px;
  left: 30px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: x-large;
  font-weight: 300;
}

.servicios .info .imagenes .area div {
  background-color: white;
  height: 4px;
  width: 45px;
}

.servicios .container {
  color: white;
  width: 65%;
  margin-top: 10px;
 
}
.servicios .container .col{
  text-align: left;
  padding: 30px;
}
.servicios .container img{
  height: 40px;
  margin-bottom: 10px;
}
.servicios .container h3{
  font-size: larger;
  font-weight: 400;
  margin-bottom: 0;
}
.servicios .container .resaltado{
  font-size: small;
}
.servicios .container ul{
  font-size: small;
  text-align: left;
  padding: 0 0 0 15px;
}
.color1{
  color: #93cc04;
  
}
.colorb1{
  background-color:  #93cc04;
}
.color2{
  color: #ed9005;
  
}
.colorb2{
  background-color: #ed9005;
}

.color3{
color: #2f9ae1;

}
.colorb3{
  background-color: #2f9ae1;
}

.servicios .container .line{
  width: 50px;
  height: 3px;
 
  margin-bottom: 10px;
}

.servicios .container .resaltado{
  margin-bottom: 15px;
  
}

.servicios .nuestrasImagenes{
  width: 70%;
  margin: 0 auto;
  padding-bottom: 60px;
  
}

.productos .ventas .imagenes {
  width: 100%;
  height: 400px;
  position: relative;
  background-color: #080438;
}
.productos .ventas .imagenes .colorIzq img {
  height: 100%;
  width: 45%;
  position: absolute;
  top: 0;
  left: 0;
}
.productos .ventas .imagenes .faja img {
  height: 12px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.productos .ventas .imagenes .logoa img {
  height: 40px;
  position: absolute;
  bottom: 60px;
  left:15%;
}

.productos .ventas .imagenes .area {
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 2;
  position: absolute;
  top: 80px;
  left: 15%;
  font-size: x-large;
  font-weight: 100;
}
.productos .ventas .imagenes .area div {
  background-color: white;
  width: 50px;
  height: 4px;
}
.productos .ventas .imagenes .description {
  color: white;
  width: 30%;
  min-width: 400px;
  max-width: 450px;
  height: 400px;
  position: absolute;
  right: 15%;
  top: 80px;
  font-size: small;
  display: flex;
  flex-direction: column;
}
.productos .ventas .imagenes .description span {
  margin-bottom: 20px;
}
.productos .ventas .imagenes .description h6 {
  display: flex;
  flex-direction: row;
  font-size:small;
  align-items: center;
  margin-top: 10px;
}
.productos .ventas .imagenes .description a{
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.productos .ventas .imagenes .description img{
  width: 33px;
  margin: 10px;
}

.productos .ventas .imagenes .description h6 b {
margin-left: 5px;
  color: #ed9005;

}

.productos .ventas .diferencia {
  height: 750px;
  background-color: #080438;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productos .ventas .diferencia .imgDif {
  height: 300px;
  width: 100%;
  object-fit: cover;  
}
.productos .ventas .diferencia .container {
  width: 70%;
  position: absolute;
  top: 260px;
}
.productos .ventas .diferencia .container .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productos .ventas .diferencia .container .col img {
  width: 80px;
  margin-bottom: 30px;
}
.productos .ventas .diferencia .container .col span {
  width: 80%;
  color: white;
  font-size: small;
}
.productos .marcasTop{
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-evenly;
  position: absolute;
  bottom: 40px;
}
.productos .marcasTop img{
  width: 250px;
  margin: auto;
}
.contacto {
  background-color: #080438;
}
.contacto .contenido{
  background-image: url(/alun/images/contacto/RECURSOS/tramaFondoAzul.png);
  background-repeat: repeat;
  object-fit: cover;
  background-size: 1000px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.contacto .formulario {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 100px 0 100px 200px;
  position: relative;
}
.contacto .formulario h3{
  color: white;
}
.contacto .formulario form {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: small;
max-width: 400px;
  font-weight: 600;
  min-width: 300px;
}
.contacto .formulario form textarea,
.contacto .formulario form input {
  margin-bottom: 20px;
}

.contacto .formulario form button {
  color: white;
  border: none;
  background: rgb(2,80,181);
  background: linear-gradient(270deg, rgba(2,80,181,1) 2%, rgba(47,154,225,1) 19%, rgba(2,80,181,1) 71%);font-size: small;
  padding: 5px; 
  font-weight: 600;
}
.contacto .info{
  width: 50%;
  position: relative;
}


.contacto  .info .data{
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 160px;
  left: 150px;
  z-index: 3;
  width: 280px;
}
.contacto  .info .data span{
  margin-bottom: 7px;
}
.contacto  .info .iconos {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 156px;
  left: 100px;  
 
}
.contacto  .info .iconos img{
  width: 25px;
  padding: 3px;
 margin-bottom: 5px;
}

.contacto  .contenido .logoConImagen{
  position: absolute;
right: 0px;
top: 0px;
 height: 100%;
 z-index: 0;
 
}

footer {
  height: 50vh;
  background-image: url(/alun/images/fondoFooter.png);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 50px;
}
footer .logoPie img {
  width: 15rem;
}
footer .datos {
  color: white;
  display: flex;
  align-items: flex-end;
  opacity: 0.7;
}
footer .datos ul {
  list-style-type: none;
  margin: 0;
}

.datos ul a {
  text-decoration: none;
  color: white;
}
.redes {
  margin: 0 15px;
  
}
.redes img{
  height: 25px;
  margin: 10px;
}
