* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
}
.navbar-nav {
  align-items: center;
}
.nav-link {
  font-size: small;
  font-weight: 600;
  color: white;
  padding: 14px 8px 2px 8px;
  background-color: #051a59;
}
.nav-link img {
  height: 20px;
}
.navbar {
  background-color: #051a59;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.navbar .container-fluid{
  max-width: 1680px;
}
.navbar-brand img {
  height: 35px;
  margin-left: 82px;
}
.logoFlotanteWapp {
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 50px;
  width: 50px;
  z-index: 9;
}
.logoFlotanteWapp:hover {
  opacity: 0.9;
  transition: 0.5s;
  transform: scale(1.2);
}

header {
  width: 100%;
  background: rgb(5,26,89);
background: radial-gradient(circle, rgba(5,26,89,1) 0%, rgba(8,4,56,1) 85%);
}
.principal {
  height: 750px;
  max-width: 1680px;
  position: relative;
  overflow: hidden;
  margin: auto;
}
.principal h2 {
  display: flex;
  flex-direction: column;
  color: white;
  width: 420px;
  font-size: 2.7rem;
  font-weight: 200;
  position: absolute;
  left: 90px;
  top: 180px;
  padding: 0;
}

.principal h2 .sub-title {
  color: #2f9ae1;
  font-weight: 600;
}
.principal h2 .text {
  font-size: 0.93rem;
  padding-right: 60px;
  min-width: 400px;
  width: 50%;
  padding: 0;
  font-weight: 200;
}
.principal img {
  height: 750px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.principal a {
  text-decoration: none;
  font-size: small;
  margin: 4px;
}
.trama {
  height: 175px;
  position: absolute;
  top: 480px;
  width: 100%;
  background-image: url(/alun/images/fondo\ logos\ 900PX.png);
  z-index: 1;
  background-repeat: no-repeat;
  background-size: auto 175px;
}

.counter {
  
  width: 100%;
  
  display: flex;
  justify-content: center;
  padding: 40px 0 70px 0;
  flex-wrap: wrap;
}
.counter .flex-row {  
  flex-wrap: nowrap;
  padding: 0;
  height: 50px;  
}
.counter .flex-column{
  margin: 28px;
}
.counter div b {
  color: white;
  font-size: 2.7rem;
  text-align: center;
  padding: 0;
}

.counter div span {
  color: #93cc04;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  padding: 0;
}
.counter div .mas {
  color: white;
  font-weight: 100;
  font-size: 2.7rem;
  text-align: center;
}

.personal {
  background-image: url(/alun/images/Fotos/pasto.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
  width: 100%;  
  z-index: 9; 
}
.personal .description{
  max-width: 1680px;
  height: 400px;
  margin: auto;
  padding: 160px 0 0 90px;
}
.personal .line {
  background-color: white;
  height: 3.5px;
  width: 320px;
  margin-bottom: 8px;
 
}
.personal span {
  display: block;
  width: 550px;
  color: white;
  margin-top: 15px;
  font-size: larger;
  line-height: 1.2;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 430px;
  padding: 100px 5px;
  width: 100%;
  background: url(/alun/images/tramaFondoAzul.png);
  background: rgb(5,26,89);
  background: radial-gradient(circle, rgba(5,26,89,1) 0%, rgba(8,4,56,1) 85%);
  background-size: 70%;
  z-index: 2;
}
.cards .card1 {
  width: 20rem;
  height: 30.37rem;
  position: relative;
  margin: 5px;
}

.fondo {
  width: 100%;
  position: absolute;
  top: 0;
  height: auto;
}

.capa {
  width: 100%;
  z-index: 2;
  position: absolute;
}

.faja {
  width: 100%;
  height: 15px;
  position: absolute;
  top: 0;
  z-index: 2;
}

.esquina {
  width: 35%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.logo {
  width: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  margin: 14px;
}

.areaCard {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 0;
  z-index: 2;
  margin: 0 10px;
  padding: 0 10px;
}
.areaCard h3 {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  margin: 0;
}
.card1 .lineaCard{
  background-color: white;
  height: 3px;
  width: 50px;
  margin: 0;
  margin-bottom: 30px;
}

.button-28 {
  
  
  appearance: none;
  background-color: transparent;
  border: 2px solid;
  border-radius: 25px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 20px;
  outline: none;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; 
  will-change: transform;
}

 .button-28:disabled {
  pointer-events: none;
}

 .button-28:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.card1 .button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
.card1 .button-28 a{
  text-decoration: none;
}

.clients {
  text-align: center;
  height: 500px;
  padding: 250px 5px 0px 5px;
  width: 100%;
  background: url(/alun/images/tramaFonoGris.png);
  background: rgb(199,198,198);
  background: radial-gradient(circle, rgba(199,198,198,1) 0%, rgba(152,153,155,1) 100%);
  background-size: 70%;
  color: #080438;
  z-index: 2;
  font-size: xx-large;
}
.slider{
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.slider .slide-track{
  display: flex;
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 30s linear infinite;
  width: calc(200px * 18);
}
.slider .slide{
  width: 200px;
  justify-content: center;
  position: relative;
  margin: auto;
}

.slider .slide img{
  width: 100%;
  padding: 30px;
 
}

@keyframes scroll{
  0%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100%{
    -webkit-transform: translateX(calc(-200px * 9));
    transform: translateX(calc(-200px * 9));
  }
}
.limpiezaAltura {

  background-image: url(/alun/images/Fotos/vidriosAltura.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
  width: 100%; 
}

.sobreNosotros {
  width: 100%;
}
.sup {
  width: 100%;
  height: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.sup .fondo {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.sup h2 {
  color: white;
  position: absolute;
  z-index: 2;
  font-size: 3rem;
}

.sup .oscuro {
  color: #080438;
}

.sobreNosotros .inf {
  background: rgb(2, 80, 181);
  background: linear-gradient(
    308deg,
    rgba(2, 80, 181, 1) 66%,
    rgba(47, 154, 225, 1) 96%
  );
}
.sobreNosotros .inf .textNos {
  color: white;
  text-align: center;
  width: 50%;
  margin: 0 auto;
max-width: 800px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}
.sobreNosotros .inf .textNos b {
  color: white;
  font-size: large;
  font-weight: 200;
  font-size: 1.45rem;
  line-height: 1.2;
}

.sobreNosotros .inf .textNos .space {
  background-color: white;
  height: 2px;
  width: 30%;
  margin: 25px auto;
}
.sobreNosotros .inf .textNos span {
  margin: 7px;
}
.sobreNosotros .inf .textNos button{
  margin: 30px auto;  
  width: 200px;  
}

.misionVision {
  width: 100%;
  height: 500px;
  text-align: left;
  position: relative;
  background: rgb(5,26,89);
  background: radial-gradient(circle, rgba(5,26,89,1) 0%, rgba(8,4,56,1) 85%);
}

.misionVision .separador {
  height: 3px;
  width: 50px;
  background-color: #080438;
  margin-bottom: 6px;
}
.misionVision .contenedor {
  width: 50%;
margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 800px;
}

.misionVision .left {
  width: 100%;
  height: 500px;
  color: #080438;
  z-index: 2;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  position: relative;
}
.misionVision .left .fondo {
  height: 500px;
  width: 1000px;
  position: absolute;
  right: 0;
  z-index: 0;
}

.misionVision .left .mision {
  width: 300px;
  z-index: 1;
}
.misionVision .left h3 {
  font-weight: 700;
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0%;
}
.misionVision .left .mision span {
  margin-bottom: 20px;
}
.misionVision .right {
  width: 50%;
  color: white;
  z-index: 0;
  position: relative;
  left: 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.misionVision .right .info {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
  font-weight: 100;
  text-align: left;
  width:300px;
  
  margin: 20px;
}
.misionVision .right .info h3 {
  font-size: large;
  font-weight: 100;
  margin-bottom: 2px;
}

.misionVision .left .logo {
  height: 70px;
  width: auto;
  margin: 0 50px;
}
.misionVision .left .img1 {
  position: absolute;
  right: -43px;
  top: 24%;
}
.misionVision .left .img2 {
  position: absolute;
  right: 0;
  top: 44%;
}
.misionVision .left .img3 {
  position: absolute;
  right: 50px;
  top: 64%;
}

.misionVision .right .caract1 {
  position: absolute;
  left: 20px;
  top: 20%;
}
.misionVision .right .caract2 {
  position: absolute;
  left: -20px;
  top: 40%;
}
.misionVision .right .caract3 {
  position: absolute;
  left: -60px;
  top: 60%;
}

.clean {
  background-image: url(/alun/images/nosotros/RECURSOS/FOTO\ INTERMEDIA\ RECORTADA.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 450px;
  width: 100%; 
}

.alcance {
  width: 100%;
  height: 600px;
  background: rgb(5,26,89);
  background: radial-gradient(circle, rgba(5,26,89,1) 0%, rgba(8,4,56,1) 85%);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.alcance .textAlcance {
  width: 50%;
  max-width: 600px;
}
.alcance .textAlcance .encabezado {
  width: 60%;
  color: white;
  margin: 100px auto;
  font-size: small;
  display: flex;
  flex-direction: column;
}
.alcance .textAlcance .encabezado span{
 
  margin-bottom: 15px ;
  font-size: small;

}

.alcance .textAlcance .line-2 {
  width: 100px;
  height: 2px;
  background-color: #2f9ae1;
  z-index: 9;
  margin-bottom: 15px;
}

.alcance .logosAlcance {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 120px;
}
.alcance .logosAlcance div {
  display: flex;
  flex-direction: column;
  width: 50px;
}

.alcance .logosAlcance img {
  width: 45px;
  height: 45px;
}
.alcance .logosAlcance span {
  font-size: xx-small;
  color: white;
  margin-top: 7px;
}
.alcance .logosAlcance .line {
  margin-top: 6px;
  height: 2px;
  width: 50px;
}
.alcance .alcanceMap {
  width: 600px;
  min-width: 600px;
  height: auto;
  position: relative;
  transition: transform 0.4s ease;
  right: 30px;
}
.alcance .alcanceMap .map img {
  width: 200px;
  position: absolute;
  left: 280px;
  top: 100px;
}
.alcance .alcanceMap .pampa img {
  width: 50px;
  position: absolute;
  left: 313px;
  top: 270px;
  opacity: 0;
}
.alcance .alcanceMap .pampa span {
  position: absolute;
  left: 200px;
  top: 278px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
}
.alcance .alcanceMap .pampa .enlace {
  height: 2px;
  width: 140px;
  position: absolute;
  left: 200px;
  top: 295px;
  text-transform: uppercase;
  background-color: white;
}

.alcance .alcanceMap .rio img {
  height: 54px;
  position: absolute;
  left: 286px;
  top: 307px;
  opacity: 0;
}
.alcance .alcanceMap .rio span {
  position: absolute;
  left: 420px;
  top: 336px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  width: 200px;
}
.alcance .alcanceMap .rio .enlace {
  height: 2px;
  width: 152px;
  position: absolute;
  left: 320px;
  top: 355px;
  text-transform: uppercase;
  background-color: white;
}
.alcance .alcanceMap .juan img {
  height: 50px;
  position: absolute;
  left: 289px;
  top: 194px;
  opacity: 0;
}
.alcance .alcanceMap .juan span {
  position: absolute;
  left: 200px;
  top: 200px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
}
.alcance .alcanceMap .juan .enlace {
  height: 2px;
  width: 108px;
  position: absolute;
  left: 200px;
  top: 216px;
  text-transform: uppercase;
  background-color: white;
}
.alcance .alcanceMap .luis img {
  height: 52px;
  position: absolute;
  left: 323px;
  top: 230px;
  opacity: 0;
}
.alcance .alcanceMap .luis span {
  position: absolute;
  left: 450px;
  top: 240px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  width: 200px;
}
.alcance .alcanceMap .luis .enlace {
  height: 2px;
  width: 148px;
  position: absolute;
  left: 345px;
  top: 258px;
  text-transform: uppercase;
  background-color: white;
}
.alcance .alcanceMap .menza img {
  height: 57px;
  position: absolute;
  left: 297px;
  top: 240px;
  opacity: 0;
}
.alcance .alcanceMap .menza span {
  position: absolute;
  left: 200px;
  top: 247px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
}
.alcance .alcanceMap .menza .enlace {
  height: 2px;
  width: 115px;
  position: absolute;
  left: 200px;
  top: 262px;
  text-transform: uppercase;
  background-color: white;
}
.alcance .alcanceMap .bsas img {
  height: 93px;
  position: absolute;
  left: 362px;
  top: 252px;
  opacity: 0;
}
.alcance .alcanceMap .bsas span {
  position: absolute;
  left: 470px;
  top: 285px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  width: 200px;
}
.alcance .alcanceMap .bsas .enlace {
  height: 2px;
  width: 142px;
  position: absolute;
  left: 395px;
  top: 301px;
  text-transform: uppercase;
  background-color: white;
}

.alcance .alcanceMap .luis img:hover,
.alcance .alcanceMap .juan img:hover,
.alcance .alcanceMap .rio img:hover,
.alcance .alcanceMap .menza img:hover,
.alcance .alcanceMap .bsas img:hover,
.alcance .alcanceMap .pampa img:hover {
  opacity: 0.6;
  transition: 0.5s;
  transform: scale(1.2);
}
.alcance .provincias {
  position: absolute;
  left: 0;
  top: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alcance .ciudades {
  position: absolute;
  left: 30px;
  top: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.alcance .provincias span {
  color: white;
  text-decoration: underline 2px #2f9ae1;
  text-underline-offset: 5px;
}
.alcance .ciudades span {
  color: white;
  text-decoration: underline 2px #93cc04;
  text-underline-offset: 5px;
}
.alcance .provincias h4 {
  color: #2f9ae1;
  font-size: 60px;
  margin: 10px;
  font-weight: 700;
}
.alcance .ciudades h4 {
  color: #93cc04;
  font-size: 60px;
  margin: 10px;
  font-weight: 700;
}
.servicios {
  background: rgb(5,26,89);
  background: radial-gradient(circle, rgba(5,26,89,1) 0%, rgba(8,4,56,1) 85%);

}
.servicios .info {
  padding-top: 80px;
  padding-bottom: 10px;
  max-width: 1440px;
  margin: auto;
}
.servicios .info .imagenes {
  position: relative;
  width: 70%;
  height: 350px;
  margin: auto;
}
.servicios .carousel-inner {
  height: 350px;
  width: 70%;
  position: absolute;
  right: 0;
}

.servicios .carousel-item {
  transition: transform 1s ease-in-out;
}
.servicios .carousel-item img{
  height: 350px;
}
.servicios .info .imagenes .logoa img {
  position: absolute;
  bottom: 30px;
  left: 30px;
  height: 50px;
}
.servicios .info .imagenes .logoa img:hover {
  transform: scale(1.2);
  transition: 1s;
}
.servicios .info .imagenes .colorIzq img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 350px;
}
.servicios .info .imagenes .colorDer img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 200px;
}

.servicios .info .imagenes .faja img {
  position: absolute;
  top: 0;
  left: 0;
  height: 11px;
  width: 100%;
}
.servicios .info .imagenes .area {
  position: absolute;
  top: 45px;
  left: 30px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: x-large;
  font-weight: 300;
}

.servicios .info .imagenes .area div {
  background-color: white;
  height: 4px;
  width: 45px;
}

.servicios .container {
  color: white;
  width: 65%;
  margin-top: 10px;
}
.servicios .container .col {
  text-align: left;
  padding: 20px;
}

.servicios .container .col img:hover {
  transform: scale(1.2);
  transition: 1s;
}

.servicios .container img {
  height: 40px;
  margin-bottom: 10px;
}
.servicios .container h3 {
  font-size: larger;
  font-weight: 400;
  margin-bottom: 0;
}
.servicios .container .resaltado {
  font-size: medium;
}
.servicios .container ul {
  font-size: medium;
  text-align: left;
  padding: 0 0 0 15px;
}
.color1 {
  color: #93cc04;
  border-color: #93cc04;
}

.colorb1 {
  background-color: #93cc04;
}
.color2 {
  color: #ed9005;
  border-color: #ed9005;
}
.colorb2 {
  background-color: #ed9005;
}

.color3 {
  color: #2f9ae1;
  border-color: #2f9ae1;
}
.colorb3 {
  background-color: #2f9ae1;
}

.color4{
  color: #ffdd1f;
  border-color: #ffdd1f;
}
.servicios .container .line {
  width: 50px;
  height: 3px;

  margin-bottom: 10px;
}

.servicios .container .resaltado {
  margin-bottom: 15px;
}

.servicios .nuestrasImagenes {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 60px;
}
.nuestraEmpresa{
  background-image: url(/alun/images/servicios/RECURSOS/NOSOTROS_03.png);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  height: 450px;
  width: 100%; 
}
.productos .ventas .imagenes {
  width: 100%;
  height: 400px;
  position: relative;
  background: rgb(5,26,89);
  background: radial-gradient(circle, rgba(5,26,89,1) 0%, rgba(8,4,56,1) 85%);

}
.productos .ventas .imagenes .colorIzq img {
  height: 100%;
  width: 45%;
  position: absolute;
  top: 0;
  left: 0;
}
.productos .ventas .imagenes .faja img {
  height: 12px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.productos .ventas .imagenes .logoa img {
  height: 40px;
  position: absolute;
  bottom: -110px;
  left:0;
}
.productos .ventas .imagenes .logoa img:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}
.productos .center{
  width: 100%;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}
.productos .ventas .imagenes .area {
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 2;
  position: absolute;
  top: 80px;
  left: 15%;
  font-size: x-large;
  font-weight: 100;
}
.productos .ventas .imagenes .area div {
  background-color: white;
  width: 50px;
  height: 4px;
}
.productos .ventas .imagenes .description {
  color: white;
 width: 400px;
  height: 400px;
  position: absolute;
  right: 15%;
  top: 80px;
  font-size: small;
  display: flex;
  flex-direction: column;
}
.productos .ventas .imagenes .description span {
  margin-bottom: 20px;
}
.productos .ventas .imagenes .description h6 {
  display: flex;
  flex-direction: row;
  font-size: small;
  align-items: center;
  margin-top: 10px;
}
.productos .ventas .imagenes .description a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.productos .ventas .imagenes .description img {
  width: 33px;
  margin: 10px;
}

.productos .ventas .imagenes .description h6 b {
  margin-left: 5px;
  color: #ed9005;
}

.productos .ventas .diferencia {
  height: 880px;
  background: rgb(5,26,89);
  background: radial-gradient(circle, rgba(5,26,89,1) 0%, rgba(8,4,56,1) 85%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productos .ventas .diferencia .imgDif {
  background-image: url(/alun/images/productos/RECURSOS/IMAGENES\ VENTAS_\ \(1\).jpg);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  height: 450px;
  width: 100%; 
}
.productos .ventas .diferencia .container {
  width: 70%;
  position: absolute;
  top: 410px;
}
.productos .ventas .diferencia .container .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productos .ventas .diferencia .container .col img {
  width: 80px;
  margin-bottom: 30px;
}

.productos .ventas .diferencia .container .col img:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}
.productos .ventas .diferencia .container .col span {
  width: 80%;
  color: white;
  font-size: small;
}
.productos .marcasTop {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-evenly;
  position: absolute;
  bottom: 40px;
}
.productos .marcasTop img {
  width: 250px;
  margin: auto;
}
.contacto {
  background: rgb(5,26,89);
  background: radial-gradient(circle, rgba(5,26,89,1) 0%, rgba(8,4,56,1) 85%);
width: 100%;
}
.contacto .contenido {
  background-image: url(/alun/images/contacto/RECURSOS/tramaFondoAzul.png);
  background-repeat: repeat;
  object-fit: cover;
  background-size: 1000px;

  
  position: relative;
}
.contacto .contenido .center{
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
  min-width: 1080;
}

.contacto .formulario {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 100px 0 100px 200px;
  position: relative;
}
.contacto .formulario h3 {
  color: white;
}
.contacto .formulario form {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: small;
  max-width: 400px;
  font-weight: 600;
  min-width: 300px;
}
.contacto .formulario form textarea,
.contacto .formulario form input {
  margin-bottom: 20px;
}

.contacto .formulario form button {
  color: white;
  border: none;
  background: #051a59;
  background: linear-gradient(
    270deg,
    rgb(1, 55, 126) 2%,
    rgb(24, 114, 173) 19%,
    rgb(1, 55, 126) 71%
  );
  font-size: small;
  padding: 5px;
  font-weight: 600;
}
.contacto .info {
  width: 50%;
  position: relative;
  
}

.contacto .info .data {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 160px;
  left: 120px;
  z-index: 3;
  width: 350px;
}
.contacto .info .data span {
  margin-left: 15px;
}
.contacto .info .iconos {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 156px;
  left: 100px;
 
}
.contacto .info .data img {
  width: 20px;
  height: auto;
  margin: 10px;

}
.contacto .info .data div {
display: flex;
flex-direction: row;
width: 100%;
align-items: center;
}
.contacto .contenido .logoConImagen {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  z-index: 0;
}

footer {
  height: 250px;
  background-image: url(/alun/images/fondoFooter.png);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 50px;
}
footer .logoPie img {
  width: 15rem;
}
footer .datos {
  color: white;
  display: flex;
  align-items: flex-end;
  opacity: 0.7;
}
footer .datos ul {
  list-style-type: none;
  margin: 0;
}

.datos ul a {
  text-decoration: none;
  color: white;
}
.redes {
  margin: 0 15px;
}
.redes img {
  height: 25px;
  margin: 10px;
}
